    #room-bar .icon-room {
        background: url(https://raw.githubusercontent.com/Zethlington/plugdj/master/leaf.png);
}
 
    #rcs-progress-container .bar {
        background-color: #925aff !important;
}
 
    #rcs-progress-container {
        background-color: #eee !important;
}
 
/* Glada_Laxen */
[data-cid^="3876600"].cm .msg .from .un, #user-lists .list.room .role-host.id-3876600 .name
{
        color:                  #000 !important;
        text-shadow:            0px 0px 1px #FF3558, 0px 0px 5px #FF3558, 2px 2px 10px #FF3558 !important;
}
 
/* EncryptedBlade */
[data-cid^="19636192"].cm .msg .from .un, #user-lists .list.room .role-cohost.id-19636192 .name
{
        color:                  #000 !important;
        text-shadow:            0px 0px 1px #aa74fe, 0px 0px 5px #aa74fe, 2px 2px 10px #aa74fe !important;
}

/* haggisbasher */
[data-cid^="6314893"].cm .msg .from .un, #user-lists .list.room .role-cohost.id-19636192 .name
{
        color:                  #000 !important;
        text-shadow:            0px 0px 1px #00FF00, 0px 0px 5px #00FF00, 2px 2px 10px #00FF00 !important;
}


