    #room-bar .icon-room {
        background: url(https://cdn.rawgit.com/Zethlington/plugdj/master/heart-compact-flat.png);
}
 
    #rcs-progress-container .bar {
        background-color: #925aff !important;
}

    #rcs-progress-container {
        background-color: #eee !important;
}

    #user-rollover.is-staff .info .role span
        color: #ff3557 !important;
}
 
/* Glada_Laxen */
[data-cid^="3876600-"].cm .msg .from .un, #user-lists .list.room .user.role-host.id-3876600.name
{
        color:                  #000 !important;
        text-shadow:            0px 0px 1px #FF3558, 0px 0px 5px #FF3558, 0px 0px 15px #FF3558 !important;
}
 
/* EncryptedBlade <3 */
[data-cid^="19636192-"].cm .msg .from .un, #user-lists .list.room .user.role-cohost.id-19636192.name
{
        color:                  #000 !important;
        text-shadow:            0px 0px 1px #8830c2, 0px 0px 5px #8830c2, 0px 0px 15px #8830c2 !important;
}
